  
    <div class="main">
        {%for item in catalog%}
        <div class="card">        
            <a href="?c=product&a=card&id={{ item.id }}">
                <img src="img_products/{{item.image}}" alt="{{item.title}}">                
            </a>
            <div class="label">{{item.title}} ({{item.price}} руб.)</div> 
            <form action="product"> 
            <input hidden type="text" name="id" value="{{item.id}}">
            <input type="submit" name="action" value="Купить"> 
            </form>
        </div>
        {%endfor%}        
    </div>