  
    <div class="main">
        {%for item in catalog%}
        <div class="card">        
            <a href="?c=product&a=card&id={{ item.id }}">
                <img src="img_products/{{item.image}}" alt="{{item.title}}">                
            </a>
            <div class="label">{{item.title}} ({{item.price}} руб.)</div>  
            <button type="submit">Добавить в корзину</button> 
        </div>
        {%endfor%}        
    </div>